extends layout

block content
  h1 #{title}
  hr
  .well.well-lg  
    h4 #{name} (#{points})
  p !{detail}

  //p.lead Solve this challenge to unlock the next one.
  hr
  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='challengenum', value=title)
    .form-group
      label.col-sm-3.control-label(for='code') Code
      .col-sm-7
        input.form-control(type='text', name='code', id='code', placeholder='Code', autofocus, required)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.col-sm-3.btn.btn-primary.btn-lg.btn-block(type='submit')
          i.fa.fa-unlock
          | Submit