extends layout

block content
    if teamName == 'No team'
      .alert.alert-dismissible.alert-warning
        button.close(type='button', data-dismiss='alert') &times;
        h4 Warning!
        p
          | You are not in any team yet, to join or create one go to 
          a.alert-link(href='/join') JOIN TEAM
          | .

    h1 Dashboard
    hr
    .row
      .col-sm-3
        .panel.panel-danger
          .panel-heading
            h3.panel-title Time remaining
          .panel-body
            #clockdiv
              span.days
              |  : 
              span.hours
              |  : 
              span.minutes
              |  : 
              span.seconds
              |  
              
      .col-sm-9
        .panel.panel-info
          .panel-heading
            h3.panel-title Announcements
          .panel-body  !{tweet}

    .row
    .panel.panel-primary
      .panel-heading
        h3.panel-title Team Summary
      .panel-body
        table.table.table-striped
          thead
            tr
              th Name
              th Score
              th Code
          tbody
            tr
              td #{teamName}
              td #{teamScore}
              td #{teamCode}
        p.strong Team Players      
        ul.list-group
          each val in teamPlayers
            li.list-group-item= val

    h3 Total team progress
    .progress.progress-striped
      .progress-bar.progress-bar-success(style={width: teamScorePer})

    .well.well-sm.text-warning NOTE: YOUR TEAM WILL BE DISQUALIFIED IF YOU TAKE DOWN THE QR CODES
    // ===> <CODE_START>Tpc09oGG0zx9X656o17993C40Oln2817948z17JMD<CODE_END> <===
    each val1, index in teamChallenges
      .jumbotron
        h3 Challenge #{index}
        if val1
          p
            | Completed: 
            span.label.label-success YES
        else
          p
            | Completed: 
            span.label.label-danger NO
        p
          a.btn.btn-lg.btn-primary(href='/challenge/' + index) Go for it!